.container{
display: flex;
justify-content: space-between;
align-items: center;
}
.block{
	width: 300px;
	height: 500px;
	position: absolute;
}
.block1{
	background-color: rgb(139, 139, 248);
	position: relative;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.block2{
	background-color: rgb(114, 239, 168);
	z-index: 5;
}
.block3{
	background-color: rgb(239, 125, 229);
	z-index: 2;
}
.block4{
	background-color: rgb(248, 240, 147);
	z-index: 3;
}
.block5{
	background-color: rgb(208, 108, 120);
	z-index: 4;
}
p{
	color: darkslategrey;
	text-align: center;
	font-size: 50px;
}