.container{
display: flex;
justify-content: space-between;
align-items: center;
}
.block1{
	width: 300px;
	height: 500px;
	background-color: rgb(139, 139, 248);
	position: absolute;
	bottom: 0;
}
.block2{
	width: 300px;
	height: 500px;
	background-color: rgb(114, 239, 168);
}
.block3{
	width: 300px;
	height: 500px;
	background-color: rgb(239, 125, 229);
}
.block4{
	width: 300px;
	height: 500px;
	background-color: rgb(248, 240, 147);
}
.block5{
	width: 300px;
	height: 500px;
	background-color: rgb(208, 108, 120);
}
p{
	color: darkslategrey;
	text-align: center;
	font-size: 50px;
}